<section class="stats-section section section-full">
  <div class="container">
    <div class="stats-row">
      <div class="stat">
        <span class="material-symbols-outlined">apartment</span>
        <div class="stat-text">
          <h3>500+</h3>
          <p>Projects Completed</p>
        </div>
      </div>

      <div class="stat">
        <span class="material-symbols-outlined">calendar_month</span>
        <div class="stat-text">
          <h3>30+</h3>
          <p>Years in Business</p>
        </div>
      </div>

      <div class="stat">
        <span class="material-symbols-outlined">groups</span>
        <div class="stat-text">
          <h3>30+</h3>
          <p>Team Members</p>
        </div>
      </div>

      <div class="stat">
        <span class="material-symbols-outlined">how_to_reg</span>
        <div class="stat-text">
          <h3>30  +</h3>
          <p>Repeat Clients</p>
        </div>
      </div>
    </div>
  </div>
</section>